html,
body,
#root,
#root>div {
  height: 100%
}

.row {
  width: 100%;
  display: flex;
}

body {
  /* Temporary to make it easier to see divs */
  background-color: pink;
  margin: 0px;
}

#viewer {
  height: 95vh;
  margin-top: 15px;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.header {
  flex: 0 1 auto;
}

.content {
  flex: 1 1 auto;
}
