/target
**/*.rs.bk
.DS_Store
.vscode

# profiling
perf.data*
flame.svg

# output
out
out.*

# gcc
env.txt
compare_mesh

bad/thingiverse*
bad/inputs*

__pycache__

wasm-sz/target
wasm-sz/site/node_modules
wasm-sz/site/build