* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 0px;
  height: 100vh;
  background-color: lightgray;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

textarea {
  width: 100%;
  height: 75vh;
  overflow: scroll;
}

.hidden {
  visibility: hidden;
}